@mixin text-basic() {
    @include text-body-s();
    color: var(--ncp-text-01);
}

// headings

// deprecated
@mixin text-h1() {
    font: var(--ncp-font-heading-1);
}

// deprecated
@mixin text-h2() {
    font: var(--ncp-font-heading-2);
}

// deprecated
@mixin text-h3() {
    font: var(--ncp-font-heading-3);
}

// deprecated
@mixin text-h4() {
    font: var(--ncp-font-heading-4);
}

// deprecated
@mixin text-h5() {
    font: var(--ncp-font-heading-5);
}

// deprecated
@mixin text-h6() {
    font: var(--ncp-font-heading-6);
}

// typed text

// deprecated
@mixin text-body-xl-bold() {
    font: var(--ncp-font-text-xl);
    font-weight: bold;
}

// deprecated
@mixin text-body-xl() {
    font: var(--ncp-font-text-xl);
}

// deprecated
@mixin text-body-l-bold($type: 1) {
    font: var(--ncp-font-text-l);
    font-weight: bold;

    @if ($type == 2) {
        line-height: 20px;
    }

    @if ($type == 3) {
        line-height: 28px;
    }
}

// deprecated
@mixin text-body-l($type: 1) {
    font: var(--ncp-font-text-l);

    @if ($type == 2) {
        line-height: 20px;
    }

    @if ($type == 3) {
        line-height: 28px;
    }
}

// deprecated
@mixin text-body-m-bold($type: 1) {
    font: var(--ncp-font-text-m);
    font-weight: bold;

    @if ($type == 2) {
        line-height: 20px;
    }
}

// deprecated
@mixin text-body-m($type: 1) {
    font: var(--ncp-font-text-m);

    @if ($type == 2) {
        line-height: 20px;
    }
}

// deprecated
@mixin text-body-s-bold($type: 1) {
    font: var(--ncp-font-text-s);
    font-weight: bold;

    @if ($type == 2) {
        line-height: 16px;
    }
}

// deprecated
@mixin text-body-s($type: 1) {
    font: var(--ncp-font-text-s);

    @if ($type == 2) {
        line-height: 16px;
    }
}

// deprecated
@mixin text-body-xs() {
    font: var(--ncp-font-text-xs);
}

//tabs, tags, category

// deprecated
@mixin text-caption-l-bold() {
    @include font(13px, 20px, bold);
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
}

// deprecated
@mixin text-caption-l() {
    @include font(13px, 20px, normal);
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
}

// deprecated
@mixin text-caption-bold() {
    @include font(11px, 16px, bold);
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
}

// deprecated
@mixin text-caption() {
    @include font(11px, 16px, normal);
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
}

// mixins for font properties

// deprecated
@mixin font_heading($size, $line-height: normal) {
    font-weight: bold;
    line-height: $line-height;
    font-size: $size;
    font-family: var(--ncp-font-heading);
}

// deprecated
@mixin font($size, $line-height: 'none', $weight: normal, $color: 'none') {
    font-weight: $weight;
    font-size: $size;
    font-family: var(--ncp-text-font);

    @if ($line-height != 'none') {
        line-height: $line-height;
    }

    @if ($color != 'none') {
        color: $color;
    }

    @if ($line-height != 'none') {
        line-height: $line-height;
    }
}
