<ncp-hint-box
    *ngFor="let hint of hints$ | async"
    role="tooltip"
    [attr.id]="hint.id"
    [@ncpFadeIn]="animation"
    [hint]="hint"
    [ncpActiveZoneParent]="hint.activeZone"
    (ncpHoveredChange)="onHovered($event, hint)"
>
    <div polymorpheus-outlet [content]="hint.content">
        <ng-template let-text>
            <span class="text">{{text}}</span>
        </ng-template>
    </div>
</ncp-hint-box>
