@import '../../styles/mixins/mixins.less';

:host {
  position: relative;
  display: block;
  flex: 1;
}

.scrollbar {
  .fullsize(fixed, inset);
  margin: 0;
}

.content {
  .createStackingContext();
  height: 100%;
}
