<span
    *ngIf="content; else base"
    polymorpheus-outlet
    class="content"
    [content]="content"
    [context]="{$implicit: base}"
></span>
<ng-template #base>
    <ng-content></ng-content>
</ng-template>
