<ng-container *ncpLet="refresh$ | async as bars">
    <div
        *ngIf="bars[0]"
        ncpScrollbarWrapper
        class="bar bar_vertical"
        [class.bar_has-horizontal]="bars[1]"
        [@ncpFadeIn]="animation"
    >
        <div ncpScrollbar="vertical" class="thumb"></div>
    </div>
    <div
        *ngIf="bars[1]"
        ncpScrollbarWrapper
        class="bar bar_horizontal"
        [class.bar_has-vertical]="bars[0]"
        [@ncpFadeIn]="animation"
    >
        <div ncpScrollbar="horizontal" class="thumb"></div>
    </div>
</ng-container>
