@import '../../styles/ncp-local.less';

ncp-data-list {
    display: flex;
    font: var(--ncp-font-text-m);
    flex-direction: column;
    padding: 0.5rem 0;
    color: var(--ncp-text-03);

    &:focus-within {
        .trap {
            display: none;
        }

        [ncpOption]._with-dropdown:not(:focus) {
            background-color: transparent;
        }
    }

    & > .empty {
        margin: 0.75rem 1rem;
    }
}

ncp-opt-group {
    .text-overflow();
    position: relative;
    display: flex;
    font: var(--ncp-font-text-xs);
    flex-direction: column;
    line-height: 2rem;
    padding: 0.5rem 0;
    margin: -0.5rem 0;

    &:empty:before,
    &:empty:after {
        display: none;
    }

    &:before {
        content: attr(data-label);
        padding: 0 1rem;
        color: var(--ncp-text-02);
    }

    &:not(:empty) ~ & {
        &:before {
            padding-top: 1rem;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0.4375rem;
            height: 1px;
            background: var(--ncp-base-03);
        }
    }
}
