<div
    class="wrapper"
    [ncpOverscroll]="overscroll"
    [ncpMode]="null"
    [ncpActiveZoneParent]="directive.activeZone"
>
    <ncp-scrollbar class="scroll">
        <div tabindex="0" (focus)="onTopFocus()"></div>
        <div
            polymorpheus-outlet
            #content
            class="content"
            [content]="directive.content"
            [context]="getContext(directive.context, activeZone)"
        ></div>
        <div tabindex="0" (focus)="onBottomFocus()"></div>
    </ncp-scrollbar>
</div>
