<div
    class="wrapper"
    [ncpDropdownAlign]="controller.align"
    [ncpDropdownDirection]="controller.direction"
    [ncpDropdownHost]="focusableElement"
    [ncpDropdownLimitWidth]="controller.limitWidth"
    [ncpDropdownMinHeight]="controller.minHeight"
    [ncpDropdownMaxHeight]="controller.maxHeight"
    [ncpDropdownSided]="controller.sided"
    [ncpDropdownContent]="dropdown"
    [ncpDropdown]="open && canOpen"
    [ncpObscuredEnabled]="open"
    (ncpObscured)="onHostObscured($event)"
    (ncpActiveZoneChange)="onActiveZone($event)"
>
    <ng-content></ng-content>
    <ng-template #dropdown="polymorpheus" polymorpheus>
        <div
            #wrapper
            polymorpheus-outlet
            [content]="content"
            [context]="contentContext"
            (keydown.esc)="onKeyDownEsc($event)"
            (keydown)="onKeydown($event)"
        ></div>
        <div></div>
    </ng-template>
</div>
