@font-fallback: -apple-system, 'BlinkMacSystemFont', system-ui, 'Roboto', 'Segoe UI', 'Helvetica Neue', sans-serif;

:root {
    // Deprecated
    --ncp-heading-font: 'Manrope', @font-fallback;
    --ncp-text-font: 'Manrope', @font-fallback;
    // Fonts
    --ncp-font-heading: var(--ncp-heading-font);
    --ncp-font-heading-1: bold 3.125rem/3.5rem var(--ncp-font-heading);
    --ncp-font-heading-2: bold 2.75rem/3rem var(--ncp-font-heading);
    --ncp-font-heading-3: bold 2.25rem/2.5rem var(--ncp-font-heading);
    --ncp-font-heading-4: bold 1.75rem/2rem var(--ncp-font-heading);
    --ncp-font-heading-5: bold 1.5rem/1.75rem var(--ncp-font-heading);
    --ncp-font-heading-6: bold 1.25rem/1.5rem var(--ncp-font-heading);
    --ncp-font-text: var(--ncp-text-font);
    --ncp-font-text-xl: normal 1.1875rem/1.75rem var(--ncp-font-text);
    --ncp-font-text-l: normal 1.0625rem/1.5rem var(--ncp-font-text);
    --ncp-font-text-m: normal 0.9375rem/1.5rem var(--ncp-font-text);
    --ncp-font-text-s: normal 0.8125rem/1.25rem var(--ncp-font-text);
    --ncp-font-text-xs: normal 0.6875rem/1rem var(--ncp-font-text);
    // Sizes
    --ncp-radius-xs: 0.25rem;
    --ncp-radius-s: 0.5rem;
    --ncp-radius-m: 0.625rem;
    --ncp-radius-l: 0.625rem;
    --ncp-height-xs: 1.5rem;
    --ncp-height-s: 2rem;
    --ncp-height-m: 2.75rem;
    --ncp-height-l: 3.5rem;
    // Misc
    --ncp-duration: 0.3s;
    // Special colors
    --ncp-disabled-opacity: 0.56;
    --ncp-autofill: #fff5c0;
    // Base colors
    --ncp-base-01: #fff; // background and icons on inverted background
    --ncp-base-02: #f6f6f6; // secondary background, marker icons background
    --ncp-base-03: #ededed; // basic border
    --ncp-base-04: #d7d7d7; // hovered borders
    --ncp-base-05: #b0b0b0; // interface icons
    --ncp-base-06: #959595; // hovered interface icons
    --ncp-base-07: #808080; // inverted background
    --ncp-base-08: #333; // dark interface icons
    --ncp-base-09: #000; // icons on inverted background
    --ncp-primary: #526ed3; // primary buttons, background
    --ncp-primary-hover: #6c86e2; // primary buttons hover
    --ncp-primary-active: #314692; // primary buttons hover
    --ncp-primary-text: #fff; // text on primary background
    --ncp-secondary: #ebefff; // inputs and secondary buttons
    --ncp-secondary-hover: #dfe3f3; // inputs and secondary buttons hover
    --ncp-secondary-active: #d8ddf2; // inputs and secondary buttons pressed
    --ncp-accent: #ff8078; // fill and outline of accent elements
    --ncp-accent-hover: #ff9a94; // accent elements hover
    --ncp-accent-active: #e7716a; // accent elements pressed
    --ncp-accent-text: #fff; // text on accent background
    --ncp-selection: rgba(112, 182, 246, 0.12); // selected text background
    --ncp-focus: rgba(51, 51, 51, 0.64); // focus ring color
    --ncp-clear: rgba(0, 0, 0, 0.08); // translucent dark fill
    --ncp-clear-disabled: rgba(0, 0, 0, 0.04); // translucent dark fill disabled
    --ncp-clear-hover: rgba(0, 0, 0, 0.16); // translucent dark fill hover
    --ncp-clear-active: rgba(0, 0, 0, 0.2); // translucent dark fill pressed
    --ncp-clear-inverse: rgba(255, 255, 255, 0.16); // translucent light fill
    --ncp-clear-inverse-hover: rgba(255, 255, 255, 0.24); // translucent light fill hover
    --ncp-clear-inverse-active: rgba(255, 255, 255, 0.4); // translucent light fill pressed
    // Statuses
    --ncp-error-fill: rgba(244, 87, 37, 1); // icons and decorative elements with error status
    --ncp-error-bg: rgba(244, 87, 37, 0.12); // translucent error background
    --ncp-error-bg-hover: rgba(244, 87, 37, 0.24); // translucent hover error background
    --ncp-success-fill: rgba(74, 201, 155, 1); // icon and decorative elements with success status
    --ncp-success-bg: rgba(74, 201, 155, 0.12); // translucent success background
    --ncp-success-bg-hover: rgba(74, 201, 155, 0.24); // translucent success hover
    --ncp-warning-fill: rgba(255, 199, 0, 1); // icon and decorative elements with warning status
    --ncp-warning-bg: rgba(255, 199, 0, 0.12); // translucent warning background
    --ncp-warning-bg-hover: rgba(255, 199, 0, 0.24); // translucent warning background
    --ncp-info-fill: rgba(112, 182, 246, 1); // icon and decorative elements with info status
    --ncp-info-bg: rgba(112, 182, 246, 0.12); // translucent info background
    --ncp-info-bg-hover: rgba(112, 182, 246, 0.24); // translucent info background
    --ncp-neutral-fill: rgb(121, 129, 140); // icon and decorative elements with neutral status
    --ncp-neutral-bg: rgba(121, 129, 140, 0.12); // translucent info background
    --ncp-neutral-bg-hover: rgba(121, 129, 140, 0.24); // translucent info background
    // Text
    --ncp-text-01: rgba(27, 31, 59, 1);
    --ncp-text-02: rgba(27, 31, 59, 0.65);
    --ncp-text-03: rgba(27, 31, 59, 0.4);
    --ncp-link: #526ed3;
    --ncp-link-hover: #6c86e2;
    --ncp-positive: #3aa981;
    --ncp-positive-hover: #7ac5aa;
    --ncp-negative: #dd4c1e;
    --ncp-negative-hover: #e38163;
    // Modifiers for dark background
    --ncp-error-fill-night: rgba(255, 140, 103, 1);
    --ncp-error-bg-night: rgba(244, 87, 37, 0.32);
    --ncp-error-bg-night-hover: rgba(244, 87, 37, 0.4);
    --ncp-success-fill-night: rgb(74, 201, 155);
    --ncp-success-bg-night: rgba(74, 201, 155, 0.32);
    --ncp-success-bg-night-hover: rgba(74, 201, 155, 0.4);
    --ncp-warning-fill-night: rgb(255, 199, 0);
    --ncp-warning-bg-night: rgba(255, 199, 0, 0.32);
    --ncp-warning-bg-night-hover: rgba(255, 199, 0, 0.4);
    --ncp-info-fill-night: rgb(112, 182, 246);
    --ncp-info-bg-night: rgba(112, 182, 246, 0.32);
    --ncp-info-bg-night-hover: rgba(112, 182, 246, 0.4);
    --ncp-neutral-fill-night: rgb(149, 155, 164);
    --ncp-neutral-bg-night: rgba(149, 155, 164, 0.32);
    --ncp-neutral-bg-night-hover: rgba(149, 155, 164, 0.48);
    --ncp-autofill-night: rgb(85, 74, 42);
    //
    --ncp-text-01-night: rgba(255, 255, 255, 1);
    --ncp-text-02-night: rgba(255, 255, 255, 0.72);
    --ncp-text-03-night: rgba(255, 255, 255, 0.6);
    --ncp-link-night: #6788ff;
    --ncp-link-night-hover: #526ed3;
    --ncp-positive-night: #44c596;
    --ncp-positive-night-hover: #3aa981;
    --ncp-negative-night: #ff8c67;
    --ncp-negative-night-hover: #bb593a;
    //
    --ncp-support-01: #a8cef1;
    --ncp-support-02: #3682db;
    --ncp-support-03: #8dda71;
    --ncp-support-04: #34b41f;
    --ncp-support-05: #e29398;
    --ncp-support-06: #b8474e;
    --ncp-support-07: #fcc068;
    --ncp-support-08: #ff8a00;
    --ncp-support-09: #dab3f9;
    --ncp-support-10: #7b439e;
    --ncp-support-11: #fee797;
    --ncp-support-12: #fcbb14;
    --ncp-support-13: #ea97c4;
    --ncp-support-14: #bd65a4;
    --ncp-support-15: #7fd7cc;
    --ncp-support-16: #2fad96;
    --ncp-support-17: #d4aca2;
    --ncp-support-18: #9d6f64;
    --ncp-support-19: #d2e9a2;
    --ncp-support-20: #aadc42;
    --ncp-support-21: #a0c5df;
    --ncp-support-22: #3c7ba8;
}
