ncp-wrapper[data-appearance='outline'] {
    background: transparent;
    color: var(--ncp-text-01);

    &:after {
        color: var(--ncp-base-04);
    }

    &[data-state='hovered'] {
        &:after {
            color: var(--ncp-base-05);
        }
    }

    &[data-state='pressed'] {
        &:after {
            color: var(--ncp-base-06);
        }
    }

    &[data-state='disabled'] {
        opacity: var(--ncp-disabled-opacity);
    }

    &[data-mode='onDark'] {
        color: var(--ncp-text-01-night);

        &:after {
            color: var(--ncp-text-01-night);
        }

        &[data-state='hovered'] {
            background: var(--ncp-clear-inverse-hover);

            &:after {
                color: var(--ncp-text-03-night);
            }
        }

        &[data-state='pressed'] {
            background: var(--ncp-clear-inverse-active);

            &:after {
                color: var(--ncp-text-03-night);
            }
        }

        &._focused:after {
            color: var(--ncp-text-01-night);
        }
    }

    &[data-mode='onLight'] {
        color: var(--ncp-text-01);

        &:after {
            color: var(--ncp-text-01);
        }

        &[data-state='hovered'] {
            background: var(--ncp-clear-hover);

            &:after {
                color: var(--ncp-text-03);
            }
        }

        &[data-state='pressed'] {
            background: var(--ncp-clear-active);

            &:after {
                color: var(--ncp-text-03);
            }
        }
    }
}
