ncp-wrapper[data-appearance='secondary'],
ncp-wrapper[data-appearance='flat'] {
    background: var(--ncp-secondary);
    color: var(--ncp-link);

    &[data-state='hovered'] {
        background: var(--ncp-secondary-hover);
        color: var(--ncp-link-hover);
    }

    &[data-state='pressed'] {
        background: var(--ncp-secondary-active);
    }

    &[data-state='disabled'] {
        opacity: var(--ncp-disabled-opacity);
    }

    &[data-mode='onDark'] {
        background: var(--ncp-clear-inverse);
        color: var(--ncp-text-01-night);

        &[data-state='hovered'] {
            background: var(--ncp-clear-inverse-hover);
        }

        &[data-state='pressed'] {
            background: var(--ncp-clear-inverse-active);
        }

        &._focused:after {
            color: var(--ncp-text-01-night);
        }
    }

    &[data-mode='onLight'] {
        background: var(--ncp-clear);
        color: var(--ncp-text-01);

        &[data-state='hovered'] {
            background: var(--ncp-clear-hover);
        }

        &[data-state='pressed'] {
            background: var(--ncp-clear-active);
        }
    }

    &._invalid {
        color: var(--ncp-error-fill);
        background: var(--ncp-error-bg);

        &[data-state='hovered'],
        &[data-state='pressed'] {
            background: var(--ncp-error-bg-hover);
        }

        &._focused:after {
            color: var(--ncp-error-fill);
        }
    }
}

ncp-wrapper[data-appearance='flat'] {
    background: transparent;

    &[data-mode='onDark'],
    &[data-mode='onLight'] {
        background: transparent;
    }
}
