ncp-wrapper[data-appearance='whiteblock'],
ncp-wrapper[data-appearance='whiteblock-active'] {
    background: var(--ncp-base-01);
    color: var(--ncp-text-01);

    &:after {
        color: var(--ncp-base-03);
    }

    &[data-state='hovered'],
    &[data-state='pressed'] {
        background: var(--ncp-base-02);

        &:after {
            color: var(--ncp-base-04);
        }
    }

    &[data-state='disabled'] {
        opacity: var(--ncp-disabled-opacity);
    }
}

ncp-wrapper[data-appearance='whiteblock-active'] {
    &:after {
        color: var(--ncp-primary);
        border-width: 2px;
    }

    &[data-state='hovered']:after {
        color: var(--ncp-primary-hover);
    }

    &[data-state='pressed']:after {
        color: var(--ncp-primary-active);
    }
}
